@{
    ViewData["Title"] = "O Podjetju";
}
<h1>@ViewData["Title"]</h1>

<p>Airlines Solutions ponuja informacijski sistem za enostavno spletno rezervacijo letalskih sedežev in načrtovanje letov. Sistem omogoča pregled razpoložljivih sedežev, prijavo uporabnikov, plačila s kreditno kartico, shranjevanje podatkov o rezervacijah ter obveščanje strank o uspešnosti rezervacij.</p>
